@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#f3fffb, #bcbaa3);
  color: #8435cf;
  min-height: 100vh;
}

#header {
  text-align: center;
  margin: 3rem auto;
}


#header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  background-color: transparent;
}

#header h1 {
  font-size: 1.5rem;
}

#user-input {
  padding: 1rem;
  max-width: 30rem;
  margin: 2rem auto;
  border-radius: 4px;
  border-radius: 25px;
  background: linear-gradient(180deg, #f9cebb, #ffffff, #a6f2cc);
}

.input-group {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

#user-input label {
  display: block;
  margin-bottom: 0.25rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #302480;
}

#user-input input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #000000;
  font-size: 1rem;
}

#result {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: right;
  background: linear-gradient(180deg, #f5d6c8, #b6fde5);
  border-radius: 40px;
}

#result thead {
  font-size: 0.8rem;
  color: #010f09;
}

#result tbody {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.85rem;
  color: #065f4a;
}

.center {
  text-align: center;
}


.button {
  background-color: white; 
  color: black; 
  border: 2px solid #04AA6D;
  border-radius: 20px; 
  font-size: 0.8rem; 
  font-weight: bold;
  padding: 7px 15px;
  margin-top: 15px;
}

.button:hover {
  background-color: #04AA6D;
  color: white;
}
